<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erreurs !</title>
</head>
<body>
    <form method="post" action="/job3/welcome">
        <label>Prénom: <span style="color: red">Ce champ ne peut pas être vide</span></label>
        <input type="text" name="fname"/>

        <label>Nom: <span style="color: red">Ce champ ne peut pas être vide</span></label>
        <input type="text" name="lname"/>

        <label>Âge: <span style="color: red">Ce champ ne peut pas être vide</span></label>
        <input type="number" name="age"/>

        <input type="submit">
    </form>
</body>
</html>